@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  /* Remove default background to let components handle it */
  background: black; 
  overflow: hidden; /* Prevent scrollbars during transitions */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
